.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logout {
  padding: 5px 10px;
  border: none;
  background-color: skyblue;
  color: #111;
  cursor: pointer;
  font-size: 16px;
  border-radius: 3px;
  transition: 0.3s;
}

.logout:hover {
  opacity: 0.8;
  transition: 0.3s;
}
