.button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: skyblue;
  color: #111;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  width: max-content;
}

.button:hover {
  opacity: 0.8;
  transition: 0.3s;
}
